html {
	overflow-x: hidden;
}
a {
	color:#4F608F;
}
a:hover {
	color:#7986AC;
}
pre {
	font-size: 0.72em;
}
ul
{
  list-style-type: none;
}

.container {
	text-align: left;
}

/* Header */
.site-header {
	text-align:center;
	height:100vh;
	padding-top:18%;
}

.site-title {
	margin-top: 0px;
}

/* Navbar */
.navbar-header a {
	font-weight:100;
}

.navbar a {
	color:#eeeeee;
}

.navbar a:active {
	color:#ffffff;
}

.navbar-btn {
	padding: 3px;
	font-size: 18px;
}

.site-header h1 {
	font-size: 36px;
	font-weight: 100;
}

.site-header .arrow-down {
	position: absolute;
	bottom: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.site-header .arrow-down .skip-link {
	padding: 9px;
	border-radius: 100%;
	border: solid;
	border-width: 0px;
}

.site-header .arrow-down .glyphicon-triangle-bottom {
	top: 3px;
}

.site-header a:hover {
	color:#ffffff;
}

/* Entry */
.entry-title a {
	color: #4F608F;
	text-decoration: underline;
}
.entry-title a:hover {
	color: #7986AC;
}

/* Main content */
.site-main {
	min-height:100vh;
	padding-top: 0px;
}

.site-main .page-container {
	text-align: center;
}

.site-main .page-container h2 {
	color: #804715;
	font-size: 34px;
	font-weight: 100;
	background-color:#e0e0e0;
	margin-top: 54px;
	padding-top: 0px;
}

.site-main .page-container h3 {
	color: #804715;
	font-size: 28px;
	font-weight:100;
}

.site-main .page-container .container {
	font-size:20px;
	color:#444444;
  margin-bottom: 27px;
}

.site-main a {
text-decoration: underline;
}

.col-md-4 {
	padding-right: 36px;
	padding-left:	36px;
}

.site-main .image-circle-container {
	text-align:center;
	width:100%;
}

.site-main .image-circle {
border-radius:100%;
width:150px;
height:150px;
display:block;
background-color:white;
border: 1px white;
margin-left: auto;
margin-right: auto;
overflow:hidden;
}

.icon-circle {
	font-size:100px;
	padding-top: 18px;
	text-align:center;
	color: #4F608F;
}

.col-md-4 li {
	text-align: center;
}

/* Widgets, sidebar */
.widget {
	color: lightgrey;
}

.widget-title {
	color: white;
	font-weight: 100;
}


/* Footer */
footer {
text-align:center;
padding-bottom:9px;
}

footer a {
	color:black;
}

footer a:hover {
	color:#dddddd;
	text-decoration: none;
}

.site-info {
	color: black;
}

/* Starts hidden */
.frontpage-navigation {
	opacity: 0.0;
}

/* Animation */
.delayedAnim {
    -webkit-animation-delay: 0.72s; /* Chrome, Safari, Opera */
    animation-delay: 0.72s;
    }

.superDelayedAnim {
    -webkit-animation-delay: 9.0s; /* Chrome, Safari, Opera */
    animation-delay: 4.20s;
    }

.navbar a:hover, .navbar a:focus {
	color:#7986AC;
}
.navbar a:focus {
		background-color: #162756  !important;
	 }

#navbar-brand, #navbar-brand a:hover, #navbar-brand:focus {
	 	color:#ffffff;
	 	background-color: transparent !important;
}

.no-navbar-menu li {
	display: none;
}
