.default-text { color:#eeeeee; }

.primary-text-1 { color: #7986AC }
.primary-text-2 { color: #4F608F }
.primary-text-0 { color: #2F4172 }
.primary-text-3 { color: #162756 }
.primary-text-4 { color: #061439 }

.secondary-text-1-1 { color: #FFF1AA }
.secondary-text-1-2 { color: #D4C36A }
.secondary-text-1-0 { color: #AA9839 }
.secondary-text-1-3 { color: #806E15 }
.secondary-text-1-4 { color: #554700 }

.secondary-text-2-1 { color: #FFD2AA }
.secondary-text-2-2 { color: #D49C6A }
.secondary-text-2-0 { color: #AA6E39 }
.secondary-text-2-3 { color: #804715 }
.secondary-text-2-4 { color: #552800 }

.primary-1 { background-color: #7986AC }
.primary-2 { background-color: #4F608F }
.primary-0 { background-color: #2F4172 }
.primary-3 { background-color: #162756 }
.primary-4 { background-color: #061439 }

.secondary-1-1 { background-color: #FFF1AA }
.secondary-1-2 { background-color: #D4C36A }
.secondary-1-0 { background-color: #AA9839 }
.secondary-1-3 { background-color: #806E15 }
.secondary-1-4 { background-color: #554700 }

.secondary-2-1 { background-color: #FFD2AA }
.secondary-2-2 { background-color: #D49C6A }
.secondary-2-0 { background-color: #AA6E39 }
.secondary-2-3 { background-color: #804715 }
.secondary-2-4 { background-color: #552800 }

.disabled_primary-gradient-1 {
background-image: -webkit-linear-gradient(top, #2F4172, #4F608F); 
background-image:    -moz-linear-gradient(top, #2F4172, #4F608F); 
background-image:     -ms-linear-gradient(top, #2F4172, #4F608F); 
background-image:      -o-linear-gradient(top, #2F4172, #4F608F); 
background-image:         linear-gradient(top, #2F4172, #4F608F);
}